/*weatherforcast*/
/*----------------------------------------reset-------------------------------------------------------------*/

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    box-sizing: border-box;
   /* display:grid;   //causes display issue!!
   /* justify-content: center;
    align-items: center; */
}

/*--------------------------------colour scheme  1 lighter to 4 darker ------------------------------------*/
/* using variables e.g.
:root {
  --blue: #1e90ff;
  --white: #ffffff;
}
body { background-color: var(--blue); }
*/

:root {
  --col_1  : #bbe4e9;   /* lightest*/
  --col_2  : #79c2d0;   /* lighter */
  --col_3  : #53a8b6;   /* darker  */
  --col_4  : #5585b5;   /* darkest */
  --col_td : #000088;   /* text darkest  */
  --col_tm : #79c2d0;   /* text mid colour */
  --col_tl : #ffffff;   /* text lightest */
}

/*
.col-1 {
  background-color: var(--col_1);
}

.col-2 {
  background-color: var(--col_2);
}

.col-3 {
  background-color: var(--col_3);
}

.col-4 {
  background-color: var(--col_4);;
}
*/
/*-------------------------text ---------------------------------------------------------------*/
/*input cursor*/
.cursor {
  background-color: rgb(15 23 42);
  width: 0.25rem;
  height: 2rem;
  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 100% {
      background-color: transparent;
  }
  50% {
      background-color: rgb(15 23 42);
  }
}

/*----text-----*/

h1 {
  font-size: 2rem;
  align-content: center;
}
h2 {
  font-size: 1.5rem;
  align-content: center;
  padding: 0 5px 0 5px;
}

h2 span {
  font-size: 1rem;
  align-content: center;
  padding: 0 5px 0 5px;
}

/*------------------------------------ body--------------------------------------------------*/

/*------------------------------------container----------------------------------------------*/

.container {
 /* display:grid;
  justify-content: center;
  align-items: center; */
  height:100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: 1fr 10fr 1fr;
  color: var(--col_td);
  /*background-color: var(--col_2);*/
}

.left-sidebar {
  display:grid;
  grid-area: 1/1/4/2;
  background-color: lightyellow;
}

.header-zone {
  display:grid;
  grid-template-columns: 2.25fr 5fr 0.75fr;
  justify-content: center;
  align-items: center;
  color: var(--col_td);
  background-color: var(--col_3);
  grid-area: 1/2/2/3;
}

input {
  width: 90%;
  height: 2rem;
  border-radius: 5px;
}

.deg-btn {
  display:grid;
  width: 95%;
  height: 80%;
  background-color: var(--col_td);
  border-color: #000088;
  border-width: 2px;
  border-style: solid;
  color: var(--col_tl);
  border-radius: 5px;
}

.data-zone {
  display:grid;
  justify-content: center;
  align-items: center;
  color: blue;
  background-color: var(--col_2);
  grid-area: 2/2/3/3;
  grid-template-rows: 0.5fr 1.5fr 0.5fr 1.25fr 1.25fr;
  grid-template-columns: 1fr;
}

.locale {
  display:grid;
  grid-area: 1/1/2/2;
  background-color: lightgrey;
  height: 100%;
}

.main-stats {
  display:grid;
  grid-area: 2/1/3/2;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: space-around;
  align-items: center;
  background-color: lightslategray;
  height: 100%;
  width: 100%;
}
/*--------------*/
.temperature {
  grid-area: 1/1/2/2;
  height: 95%;
  width: 95%;
  background-color: var(--col_1);
  border-color: #000088;
  border-width: 2px;
  border-style: solid;
  padding-left: 5%;
}

.humidity {
  grid-area: 1/2/2/3;
  height: 95%;
  width: 95%;
  background-color: var(--col_2);
  border-color: #000088;
  border-width: 2px;
  border-style: solid;
}

.icon {
  grid-area: 1/3/2/4;
  height: 95%;
  width: 95%;
  background-color: var(--col_3);
  border-color: #000088;
  border-width: 2px;
  border-style: solid;
}

.precipitation {
  grid-area: 1/4/2/5;
  height: 95%;
  width: 95%;
  background-color: var(--col_1);
  border-color: #000088;
  border-width: 2px;
  border-style: solid;
}

.wind {
  grid-area: 1/5/2/6;
  height: 95%;
  width: 95%;
  background-color: var(--col_2);
  border-color: #000088;
  border-width: 2px;
  border-style: solid;
}
/*--------------*/
.conditions {
  grid-area: 3/1/4/2;
  background-color: lightgrey;
  height: 100%;
}

.minor-stats {
  display: grid;
  grid-area: 4/1/5/2;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: space-around;
  align-items: center;
  background-color: lightslategray;
  height: 100%;
  width: 100%;
}

.varies {
  display: grid;
  grid-area: 5/1/6/2;
  grid-template-rows : 1fr;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: lightpink;
}

/*
.showIcon {
  display:grid;
  grid-area: 1/1/2/2;
  background-color: lightyellow;
  height: 100%;
  width: 100%;
}

/*
.showPopup {
  display:grid;
  grid-area: 1/1/2/2;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 100%;
  width: 100%;
  bakground-color- lightblue;
}
*/
.icon-image {
  display:grid;
  grid-area: 1/1/2/2;
  background-color: lightyellow;
  justify-self: center;
  height: 80%;
  width: 80%;
}

.popup {
  display:grid;
  grid-area: 1/1/2/2;
  background-color: lightgreen;
  justify-self: center;
  height: 80%;
  width: 100%;
}

.pop {
  height: 100%;
  width: 100%;
  background-color: var(--col_2);
  border-color: #000088;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
}

.hidden {
  display: none;
}

.footer-zone {
  display:grid;
  align-items: center;
  color: blue;
  grid-area: 3/2/4/3;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  background-color: lightblue;
  justify-content:space-evenly;
  gap: 1%;
  height: 100%;
  width: 100%;
}

.right-sidebar {
  display:grid;
  grid-area: 1/3/4/4;
  background-color: lightyellow;
}